{{ define "main" }}
  <main class="sm:container sm:mx-auto ">
    <ul class="flex w-full flex-row justify-around items-stretch flex-wrap">
      {{ $burl := .Site.BaseURL }}
      {{ $paginator := .Paginate (where .Site.RegularPages.ByDate.Reverse "Section" "post") 40 }} 
      {{ range $paginator.Pages }}
          <li class="flex h-96 w-96 border border-zinc-900 rounded-full flex-col justify-center items-stretch text-center p-2 m-3
            bg-gradient-to-br from-cyan-200 via-white to-purple-300
          ">
              <header class="flex justify-center items-baseline border-zinc-900 p-1 m-1">
                <a href="{{ .Permalink }}">
                  <h1 class="font-bold text-lg">{{ .Title }}</h1>
                </a>
                <div>{{ .Date.Format "2006-01-02" }}</div>
              </header>
              <a href="{{ .Permalink }}">
                <div class="prose p-1 m-1 break-all	">
                  {{ .Summary }}..
                </div>
              </a>
                <div>
                  {{- range $termName := .Params.tags }}
                  <a href="{{ "/tags/" | relLangURL }}{{ $termName | urlize
                          }}">{{ $termName | upper }}</a>
                  {{- end }}
                </div>
              
          </li>

        {{ with $paginator.HasPrev }}
          <li class="flex min-h-[20%] w-5/12 border border-zinc-900	 rounded flex-col justify-start items-stretch p-1 m-1">
            <a href="{{ $burl }}{{ $paginator.Prev.URL }}">
              <strong>Prev</strong>
            </a>
          </li>
        {{ end }}
        {{ with $paginator.HasNext }}
          <li class="flex min-h-[20%] w-5/12 border border-zinc-900	 rounded flex-col justify-start items-stretch p-1 m-1">
            <a href="{{ $burl }}{{ $paginator.Next.URL }}">
              <strong>Next</strong>
            </a>
          </li>
          
          {{ end }}
        {{ end }}
    </ul>
  </main>
  
{{ end }}
